*.synctex.gz
*.log
*.aux
*.out
*.fdb_latexmk
*.fls
*.dvi
*.toc
test.*
the_end.aux
main.toc
main.out
main.log
main.aux
literature.aux
intro.aux
chapter_8.aux
chapter_7.aux
chapter_6.aux
chapter_5.aux
chapter_4.aux
chapter_3.aux
chapter_2.aux
chapter_1.aux
addition.aux
main.pdf
